.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  text-align: center;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  transition: background-color var(--animation);
}

.button:hover {
  background-color: var(--hover-color);
}
