.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px, solid, black;
  border-radius: 12px;
  padding: 12px;
}

.name {
  display: flex;
  gap: 8px;
  align-items: center;
}

.number {
  composes: name;
}

.button {
  height: 30px;
  width: 80px;
  font-size: 14px;
}
