@import "modern-normalize/modern-normalize.css";
@import "./styles/variables.css";

@font-face {
  font-family: "Nunito";
  src: url(./fonts/Nunito-VariableFont_wght.woff2) format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  outline: transparent;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

#root {
  padding: 0;
}
